# Project Information
site_name: CUC ACM-Wiki
site_description: CUC ACM-Wiki用于学习算法和数据结构相关内容，发布中国传媒大学ACM集训队相关安排
site_author: CUC ACM Team
site_url: https://cuccs.github.io/acm-wiki/
strict: true

# Repository
repo_name: 'CUCCS/acm-wiki'
repo_url: 'https://github.com/CUCCS/acm-wiki'

copyright: 'Copyright &copy; 2019 - 2020 CUC ACM Team'


# Contents
nav:
  - 首页:
      - 主页: index.md
      - 关于本项目: intro.md
      - F.A.Q: FAQ.md
  - C语言基础:
      - 基本语法: c-basic/grammar.md
      - 逻辑结构: c-basic/structure.md
      - 数组: c-basic/array.md
      - 函数: c-basic/function.md
  - 基础算法:
      - 二分: basic-algorithm/binary-research.md
      - 尺取: basic-algorithm/two-pointers.md
      - 倍增: basic-algorithm/adding-doubling.md
  - STL:
      - STL简介: STL/introduction.md
      - Vector: STL/vector.md
      - Map: STL/map.md
      - Set: STL/set.md
      - Queue: STL/queue.md
      - List: STL/list.md
      - Bitset: STL/bitset.md
  - 图论:
      - 差分约束: graph/difference-constraint.md
      - 二分图: graph/bipartite-graph.md
  - 动态规划:
      - 数位DP: dp/DigitalDP.md
      - 计数DP: dp/CountingDP.md
  - 数学:
      - 数论: math/number-theory.md
      - 数列: math/num-sequence.md
      - 组合数学: math/combinatorics.md
      - 当小球遇上盒子: math/ball-in-box.md
  - 数据结构:
      - 数据结构简介: data-struct/intro.md
      - 树状数组: data-struct/fenwick-tree.md
      - 线段树: data-struct/segment-tree.md
      - 树链剖分: data-struct/hld.md
      - 可持久化数据结构:
        - 简介: data-struct/pds-intro.md
        - 可持久化线段树: data-struct/persistent-segment.md
  - 集训安排:
      - 2020秋季集训: training/2020Autumn.md
      - 2020暑期集训:
        - 暑期多校训练: training/2020Summer/official.md
        - 2020牛客多校题解/总结: training/2020Summer/nowcoder.md
      - 2020春季集训: training/2020Spring.md
  - 视频资源:
      - 视频资源: videos/videos.md
  
## Theme
theme:
  name: 'material'
  language: 'zh'
  palette:
    primary: 'Indigo'
    accent: 'red'
  include_search_page: false
  search_index_only: true
  favicon: 'favicon.ico'

  logo:
    icon: 'school'
  feature:
    tabs: true
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'

# Customization
extra:
  search:
    language: 'jp'
  pagetime: 'on'
  manifest: 'manifest.webmanifest'
  githash: ''
  social:
    - type: github
      link: https://cuccs.github.io/ctf-wiki/

extra_javascript:
  - '_static/js/extra.js?v=16'
  - 'https://cdnjs.loli.net/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'

extra_css:
  - '_static/css/extra.css?v=12'


# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde